Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
x= "harshit"

In [2]:
y=["Harshit", 1, 2002]

In [3]:
z = 15.15

In [4]:
m=("PW","Skills")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

1) String 2) String 3) List 4) Integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
20/5
    # It is a division operator

4.0

In [20]:
20%5

# It is a modulus operator that gives remainder as a result

0

In [21]:
20//5

# it is  a floor value operator

4

In [22]:
2**3

# It is a exponential operator where second value will be power of first value.

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
list=["harshit",2,13.33, "mishra", "is ", " Learning ", 12, "New", "skills", 2023]
for i in list:
    print(i)
    print(type(i))

harshit
<class 'str'>
2
<class 'int'>
13.33
<class 'float'>
mishra
<class 'str'>
is
<class 'str'>
 Learning
<class 'str'>
12
<class 'int'>
New
<class 'str'>
skills
<class 'str'>
2023
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [30]:
a=int(input())
b=int(input())
i=0
if(a%b==0):
    while a>=b:
        a=a/b
        i=i+1
print(i)

 8
 2

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [32]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if(i%3==0):
        print(i)
        print( "is divisble by 3")
    else:
        print(i)
        print( "is not divisible by 3")

1
is not divisible by 3
2
is not divisible by 3
3
is divisble by 3
4
is not divisible by 3
5
is not divisible by 3
6
is divisble by 3
7
is not divisible by 3
8
is not divisible by 3
9
is divisble by 3
10
is not divisible by 3
11
is not divisible by 3
12
is divisble by 3
13
is not divisible by 3
14
is not divisible by 3
15
is divisble by 3
16
is not divisible by 3
17
is not divisible by 3
18
is divisble by 3
19
is not divisible by 3
20
is not divisible by 3
21
is divisble by 3
22
is not divisible by 3
23
is not divisible by 3
24
is divisble by 3
25
is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
#Immutable data types are those that cannot be modified once they are created. Any attempt to modify an immutable data type results in a new object being created with the updated value. Examples of immutable data types include strings, numbers, and tuples. For example:
x = "hello"
x[0] = "H"